# dataset files to big for github #
/datasets/recipe1M/recipe1M.json
/datasets/recipeNLG/RecipeNLG_dataset.csv
/datasets/wikipedia_book_corpus
/CookBERT/finetune_for_downstream_tasks/**/pytorch_model.bin
/**/BachelorThesis.docx
/docs/BachelorThesis_complete.pdf
/literature
/figures